<div class="p-2 bg-white dark:!bg-gray-200">
  <h2 mat-dialog-title class="!text-red-600 !font-yekanBold !flex !items-center gap-4 !p-3 text-2xl "><mat-icon><span class="material-symbols-outlined ">
    dangerous
    </span></mat-icon> تأیید حذف</h2>
<mat-dialog-content class="!font-yekanRegular !py-4">
  آیا مطمئن هستید که می‌خواهید این مورد را حذف کنید؟
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex items-center gap-4 " >
  <button mat-button (click)="onCancel()" class="cursor-pointer text-gray-700">لغو</button>
  <button mat-button color="warn" (click)="onConfirm()" class="p-4 bg-red-400 cursor-pointer text-gray-700 rounded-xl">حذف</button>
</mat-dialog-actions>
</div>