<section
  class="h-screen bg-gray-50 bg-gradient-to-r from-purple-500 to-cyan-600 dark:bg-gradient-to-r dark:from-zinc-600 dark:to-red-500"
>
  <div
    class="flex flex-col items-center justify-center px-2 py-4 mx-auto md:h-screen lg:py-0 h-full"
  >
    <div
      class="w-full bg-white/30 backdrop-blur-xl border border-white/20 rounded-lg shadow-2xl md:mt-0 sm:max-w-4xl xl:p-0 dark:bg-black/20 dark:border-white/20 min-h-[670px]"
    >
      <div class="!p-4 space-y-4 md:space-y-6 sm:p-8 rounded-2xl">
        <h1
          class="text-xl font-iranSansDemiBold leading-tight tracking-tight  md:text-3xl text-white mb-6 "
        >
          ایجاد حساب جدید
        </h1>
        <div>
          <mat-tab-group
            animationDuration="300ms"
            class="border-b-2 border-b-indigo-500 dark:border-b-amber-200"
            (selectedIndexChange)="onChangeTab($event)"
          >
            <mat-tab label="شخص حقیقی" class="flex items-center justify-center">
              <div
                class="fields-container flex flex-col items-center justify-center gap-2 mt-5 h-9/10"
              >
                <form
                  [formGroup]="personalFormGroup"
                  (ngSubmit)="onPersonalSubmit()"
                  class="grid sm:grid-cols-2 gap-x-4 gap-y-1.5 w-full p-2"
                >
                  <app-input-feild
                    type="text"
                    label="نام"
                    placeholder="نام را وارد کنید"
                    [control]="getPersonalFormControl('firstName')"
                    [minlength]="4"
                    [maxlength]="12"
                  ></app-input-feild>

                  <app-input-feild
                    type="text"
                    label="نام خانوادگی"
                    placeholder="نام خانوادگی را وارد کنید"
                    [control]="getPersonalFormControl('lastName')"
                    [minlength]="4"
                    [maxlength]="12"
                  ></app-input-feild>
                  <app-input-feild
                    type="text"
                    label="کد ملی"
                    placeholder="کد ملی را وارد کنید"
                    [control]="getPersonalFormControl('nationalCode')"
                  ></app-input-feild>
                  <app-input-feild
                    type="text"
                    label="شماره همراه"
                    placeholder="شماره همراه را وارد کنید"
                    [control]="getPersonalFormControl('mobileNumber')"
                    [isMobileNumber]="true"
                  ></app-input-feild>
                  <app-input-feild
                    type="text"
                    label="نام کاربری"
                    placeholder="نام کاربری را وارد کنید"
                    [control]="getPersonalFormControl('userName')"
                    [minlength]="4"
                    [maxlength]="12"
                  ></app-input-feild>
                  <app-input-feild
                    type="password"
                    label="رمز عبور"
                    placeholder="رمز عبور را وارد کنید"
                    [control]="getPersonalFormControl('password')"
                    [minlength]="8"
                    [maxlength]="12"
                  ></app-input-feild>

                  <section
                    class="example-section"
                    class="flex items-center w-full gap-4"
                  >
                    <p>
                      <mat-slide-toggle
                        formControlName="isForeigner"
                      ></mat-slide-toggle>
                    </p>

                    <h4 class="text-white  text-md">
                      ایا اتباع خارجی هستید؟
                    </h4>
                  </section>
                </form>
              </div>
            </mat-tab>
            <mat-tab label="شخص حقوقی">
              <form
                [formGroup]="legalFormGroup"
                #legalFrom="ngForm"
                (ngSubmit)="onlegalFormSubmit()"
                class="grid sm:grid-cols-4  gap-y-2 gap-x-5 mt-5 p-2"
              >
                <app-input-feild
                  class="w-full "
                  type="text"
                  label="نام سازمان"
                  placeholder="نام سازمان را وارد کنید"
                  [control]="getLegalFormControl('name')"
                  [minlength]="4"
                  [maxlength]="12"
                ></app-input-feild>
                <app-input-feild
                  class="w-full "
                  type="text"
                  label="کد پستی"
                  placeholder="کد پستی را وارد کنید"
                  [control]="getLegalFormControl('postalCode')"
                  [exactlength]="10"
                ></app-input-feild>
                <app-input-feild
                  class="w-full "
                  type="text"
                  label="شماره همراه"
                  placeholder="مثال : ۰۹۰۳۱۳۵۷۲۶۲"
                  [control]="getLegalFormControl('mobileNumber')"
                  [isMobileNumber]="true"
                ></app-input-feild>

                <app-input-feild
                  class="w-full "
                  type="text"
                  label="شناسه ملی"
                  placeholder="شناسه ملی را وارد کنید"
                  [control]="getLegalFormControl('nationalId')"
                  [exactlength]="11"
                ></app-input-feild>

                <app-input-feild
                  class="w-full "
                  type="password"
                  label="رمز عبور"
                  placeholder="رمز عبور را وارد کنید"
                  [control]="getLegalFormControl('password')"
                  [minlength]="8"
                  [maxlength]="12"
                ></app-input-feild>

                <app-input-feild
                  class="w-full "
                  type="text"
                  label="نام کاربری"
                  placeholder="نام کاربری را وارد کنید"
                  [control]="getLegalFormControl('userName')"
                  [minlength]="4"
                  [maxlength]="12"
                ></app-input-feild>

                <app-input-feild
                  class="w-full "
                  type="text"
                  label="نام"
                  placeholder="نام را وارد کنید"
                  [control]="getLegalFormControl('firstName')"
                  [minlength]="4"
                  [maxlength]="12"
                ></app-input-feild>

                <app-input-feild
                  class="w-full "
                  type="text"
                  label="نام خانوادگی"
                  placeholder="نام خانوادگی را وارد کنید"
                  [control]="getLegalFormControl('lastName')"
                  [minlength]="4"
                  [maxlength]="12"
                ></app-input-feild>

                <app-input-feild
                  class="w-full sm:col-span-2 "
                  type="text"
                  label="کد اقتصادی"
                  placeholder="کد اقتصادی را وارد کنید"
                  [control]="getLegalFormControl('economicCode')"
                  [exactlength]="12"
                ></app-input-feild>

                <app-input-feild
                  class="w-full sm:col-span-2 "
                  type="text"
                  label="کد ملی"
                  placeholder="کد ملی را وارد کنید"
                  [control]="getLegalFormControl('nationalCode')"
                ></app-input-feild>


                

                <mat-form-field class="w-full sm:col-span-4">
                  <mat-label>آدرس</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    placeholder="آدرس را وارد کنید"
                    formControlName="address"
                    class="addressTextarea"
                  ></textarea>
                  <mat-error>
                    <app-error-message
                      [control]="legalFormGroup.get('address')"
                      [minlength]="4"
                      [maxlength]="12"
                    ></app-error-message>
                  </mat-error>
                </mat-form-field>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="w-full flex items-center justify-center">
          <button
            (click)="onsubmit()"
            [ngClass]="{
              'invalid-btn': !legalFormGroup.valid && !personalFormGroup.valid
            }"
            [disabled]="!legalFormGroup.valid && !personalFormGroup.valid"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 w-80"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent w-full text-black dark:text-white disabled:text-red-500 hover:text-white text-iranSansDemiBold dark:hover:text-gray-900"
            >
              تایید ثبت نام
            </span>
          </button>
        </div>

        <p class="font-light text-white  text-lg">
          ایا از قبل حساب کاربری دارید؟
          <a
            routerLink="/account/login"
            class="font-medium text-primary-600  hover:underline dark:text-orange-400 fontbold"
            >ورود</a
          >
        </p>

       
      </div>
    </div>
  </div>
</section>
