<section class="bg-gray-50 dark:bg-gray-900 h-full relative">
  <div
    class="flex flex-col items-center justify-center px-2 py-4 mx-auto md:h-screen lg:py-0 h-full"
  >
    <div
      class="w-full bg-white rounded-lg shadow-4xl border md:mt-0 sm:max-w-4xl xl:p-0 dark:bg-gray-800 dark:border-gray-700 "
    >
      <div class="!p-4 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-white mb-2"
        >
          ساختن حساب جدید
        </h1>
        <div>
          <mat-tab-group animationDuration="300ms" class="border-b-2 border-b-amber-200 " (selectedIndexChange)="onChangeTab($event)">
            <mat-tab label="شخص حقیقی" class="flex items-center justify-center">
                <div class="fields-container flex flex-col items-center justify-center gap-2 mt-5">
                <form
                   [formGroup]="personalFormGroup"
                  (ngSubmit)="onPersonalSubmit()"
                                   class="grid sm:grid-cols-2 gap-2 w-full p-2"
                >

              <mat-form-field class="w-full">
                <mat-label>نام</mat-label>
                <input matInput type="text" placeholder="نام  را وارد کنید"  formControlName="firstName"/>
                @if (personalFormGroup.get("firstName")?.touched && personalFormGroup.get("firstName")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("firstName")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (personalFormGroup.get("firstName")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (personalFormGroup.get("firstName")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>نام خانوادگی</mat-label>
                <input matInput type="text" placeholder="نام خانوادگی را وارد کنید"  formControlName="lastName"/>

                @if (personalFormGroup.get("lastName")?.touched && personalFormGroup.get("lastName")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("lastName")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (personalFormGroup.get("lastName")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (personalFormGroup.get("lastName")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
                
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>شماره ملی</mat-label>
                <input matInput type="text" placeholder="شماره ملی را وارد کنید"  formControlName="nationalCode"/>

                @if (personalFormGroup.get("nationalCode")?.touched && personalFormGroup.get("nationalCode")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("nationalCode")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }
                    
                    <!-- @else if (personalFormGroup.get("nationalCode")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۳ عدد</span>
  
                    }@else if (personalFormGroup.get("nationalCode")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    } -->
                  </mat-error>

           
                }
                
              </mat-form-field>


              <mat-form-field class="w-full">
                <mat-label>شماره همراه</mat-label>
                <input matInput type="text" placeholder="شماره همراه را وارد کنید"  formControlName="mobileNumber"/>
             

                @if (personalFormGroup.get("mobileNumber")?.touched && personalFormGroup.get("mobileNumber")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("mobileNumber")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                      

                    } 
                    
                    @else if (personalFormGroup.get("mobileNumber")?.errors?.["pattern"]) {
                      <span>فرمت شماره به درستی وارد نشده</span>
                    }
                    
                    <!-- @else if (personalFormGroup.get("mobileNumber")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۳ عدد</span>
  
                    }@else if (personalFormGroup.get("mobileNumber")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    } -->
                  </mat-error>

           
                }
                
                
                
              </mat-form-field>
      
              <mat-form-field class="w-full" >
                <mat-label>نام کاربری</mat-label>
                <input matInput type="text" placeholder="نام کاربری را وارد کنید"  formControlName="userName"/>

                @if (personalFormGroup.get("userName")?.touched && personalFormGroup.get("userName")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("userName")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (personalFormGroup.get("userName")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (personalFormGroup.get("userName")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
                
                
              </mat-form-field>


              <mat-form-field class="w-full" >
                <mat-label>رمز عبور</mat-label>
                <input matInput type="password"  placeholder="رمز عبور را وارد کنید" formControlName="password"/>

                @if (personalFormGroup.get("password")?.touched && personalFormGroup.get("password")?.errors) {
                  <mat-error>

                    @if (personalFormGroup.get("password")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    } 
                    
                    @else if (personalFormGroup.get("password")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز 8 عدد</span>
  
                    }@else if (personalFormGroup.get("password")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }@else if (personalFormGroup.get("password")?.errors?.["pattern"]) {
                      <span>رمز باید شامل حداق یک حرف بزرگ ، یک کاراکتر خاص و یک عدد باشد</span>
  
                    }
                  </mat-error>

           
                }
                
                
              </mat-form-field>

              <section class="example-section" class="flex items-center  w-full gap-4 ">
                <h4 class="text-main-black dark:text-white text-sm">ایا اتباع خارجی هستید؟</h4>
                <mat-checkbox formControlName="isForeigner"></mat-checkbox>
              </section>

              <button mat-button type="submit" #personalFormButton hidden></button>

                </form>

        
              </div>
            </mat-tab>
            <mat-tab label="شخص حقوقی">
              <form
               [formGroup]="legalFormGroup"
               #legalFrom="ngForm"
              (ngSubmit)="onlegalFormSubmit()"
              class=" sm:grid sm:grid-cols-2 lg:grid-cols-4 max-sm:space-y-3.5  gap-5 mt-5 p-2" 
            >
              <mat-form-field class="w-full">
                <mat-label>نام سازمان</mat-label>
                <input matInput type="text" placeholder="نام سازمان را وارد کنید"  formControlName="name"/>

                @if (legalFormGroup.get("name")?.touched && legalFormGroup.get("name")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("name")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (legalFormGroup.get("name")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (legalFormGroup.get("name")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
              </mat-form-field>
          
              <mat-form-field class="w-full">
                <mat-label>آدرس</mat-label>
                <input matInput type="text" placeholder="آدرس را وارد کنید"  formControlName="address"/>
                @if (legalFormGroup.get("address")?.touched && legalFormGroup.get("address")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("address")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (legalFormGroup.get("address")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (legalFormGroup.get("address")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
              </mat-form-field>
        
              <mat-form-field class="w-full">
                <mat-label>کد پستی</mat-label>
                <input matInput type="text" placeholder="کد پستی را وارد کنید"  formControlName="postalCode"/>

                @if (legalFormGroup.get("postalCode")?.touched && legalFormGroup.get("postalCode")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("postalCode")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }
                  </mat-error>

           
                }
                
              </mat-form-field>


              <mat-form-field class="w-full">
                <mat-label>شماره همراه</mat-label>
                <input matInput type="text" placeholder="مثال : ۰۹۰۳۱۳۵۷۲۶۲"  formControlName="mobileNumber"/>

                @if (legalFormGroup.get("mobileNumber")?.touched && legalFormGroup.get("mobileNumber")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("mobileNumber")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
  
                    } @else if (legalFormGroup.get("mobileNumber")?.errors?.["pattern"]) {
                      <span>فرمت شماره درست وارد نشده</span>

                    }
                  </mat-error>

           
                }
                
                
              </mat-form-field>

              <mat-form-field class="w-full" >
                <mat-label>شناسه ملی</mat-label>
                <input matInput type="text" placeholder="شناسه ملی را وارد کنید"  formControlName="nationalId"/>

                @if (legalFormGroup.get("nationalId")?.touched && legalFormGroup.get("nationalId")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("nationalId")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (legalFormGroup.get("nationalId")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (legalFormGroup.get("nationalId")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
              </mat-form-field>


              <mat-form-field class="w-full" >
                <mat-label>کد اقتصادی</mat-label>
                <input matInput type="text"  placeholder="کد اقتصادی را وارد کنید" formControlName="economicCode"/>

                @if (legalFormGroup.get("economicCode")?.touched && legalFormGroup.get("economicCode")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("economicCode")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (legalFormGroup.get("economicCode")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (legalFormGroup.get("economicCode")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                    }
                  </mat-error>

           
                }
                
              </mat-form-field>

              <mat-form-field class="w-full" >
                <mat-label>رمز عبور</mat-label>
                <input matInput type="password"  placeholder="رمز عبور را وارد کنید" formControlName="password"/>

                @if (legalFormGroup.get("password")?.touched && legalFormGroup.get("password")?.errors) {
                  <mat-error>

                    @if (legalFormGroup.get("password")?.errors?.["required"]) {
                      <span>مقداری وارد نشده</span>
                    }@else if (legalFormGroup.get("password")?.errors?.["minlength"]) {
                      <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                    }@else if (legalFormGroup.get("password")?.errors?.["maxlength"]) {
                      <span>حداکثر کاراکتر مجاز 8 عدد</span>
  
                    }@else if(legalFormGroup.get("password")?.errors?.["pattern"]) {
                      <span>رمز باید شامل حداق یک حرف بزرگ ، یک کاراکتر خاص و یک عدد باشد</span>
                    }

                  </mat-error>

           
                }
              </mat-form-field>


              <mat-form-field class="w-full" >
                <mat-label>نام کاربری</mat-label>
                <input matInput type="text"  placeholder="نام کاربری را وارد کنید" formControlName="userName"/>

                <mat-error>

                  @if (legalFormGroup.get("userName")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }@else if (legalFormGroup.get("userName")?.errors?.["minlength"]) {
                    <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                  }@else if (legalFormGroup.get("userName")?.errors?.["maxlength"]) {
                    <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                  }

                </mat-error>
                
                
  
                
                
              </mat-form-field>


              <mat-form-field class="w-full" >
                <mat-label>نام </mat-label>
                <input matInput type="text"  placeholder="نام را وارد کنید" formControlName="firstName"/>

                <mat-error>
                  @if (legalFormGroup.get("firstName")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }@else if (legalFormGroup.get("firstName")?.errors?.["minlength"]) {
                    <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                  }@else if (legalFormGroup.get("firstName")?.errors?.["maxlength"]) {
                    <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                  }
                </mat-error>
          
              </mat-form-field>

              <mat-form-field class="w-full" >
                <mat-label>نام خانوادگی</mat-label>
                <input matInput type="text"  placeholder="نام خانوادگی را وارد کنید" formControlName="lastName"/>
                <mat-error>
                  @if (legalFormGroup.get("lastName")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }@else if (legalFormGroup.get("lastName")?.errors?.["minlength"]) {
                    <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                  }@else if (legalFormGroup.get("lastName")?.errors?.["maxlength"]) {
                    <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                  }
                </mat-error>

              </mat-form-field>

              <mat-form-field class="w-full  col-span-2" appearance="fill" >
                
                <mat-label>کد ملی</mat-label>
                <input matInput type="text"  placeholder="کد ملی را وارد کنید" formControlName="nationalCode"/>
                <mat-error>
                  @if (legalFormGroup.get("nationalCode")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }@else if (legalFormGroup.get("nationalCode")?.errors?.["minlength"]) {
                    <span>حداقل کاراکتر مجاز ۴ عدد</span>
  
                  }@else if (legalFormGroup.get("nationalCode")?.errors?.["maxlength"]) {
                    <span>حداکثر کاراکتر مجاز ۱۲ عدد</span>
  
                  }
                </mat-error>
          
              </mat-form-field>

              <button mat-button type="submit" #legalFormButton hidden></button>




 
            </form>


            
            
            
            </mat-tab>
          </mat-tab-group>
        </div>
  

        
        <button
        (click)="onsubmit()" [ngClass]="{'invalid-btn' : !legalFormGroup.valid && !personalFormGroup.valid} "
        [disabled]="!legalFormGroup.valid && !personalFormGroup.valid"
        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 font-iranSansDemiBold"
      >
        تایید ثبت نام
      </button>
      
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          ایا از قبل حساب کاربری دارید؟
          <a
            routerLink="/account/login"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500 fontbold"
            >ورود</a
          >
        </p>

        <!-- <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <mat-hint>Errors appear instantly!</mat-hint>
              @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </form> -->
      </div>
    </div>
  </div>


  
</section>
