/* // .mdc-label {
//     color: white ;
//     font-family: "iranSanc-r";
// }
// .mdc-tab__text-label {
//     color: white !important;
//     font-family: "iranSanc-r";

// } */


/* ::ng-deep .custom-tabs .mat-tab-label {
    color: var(--mat-sys-on-surface);
    font-weight: 500;
  }
  
  ::ng-deep .custom-tabs .mat-tab-label.mat-tab-label-active {
    color: var(--mat-sys-primary); 
} */



.mat-mdc-tab-body-content.mat-tab-body-content-can-animate {
    height: 340px ;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.invalid-btn:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
  box-shadow: none !important;
}

app-error-message  {
  font-family: "iranSanc-r" !important;
  color: white;
  font-size: 8px;

}

.addressTextarea::placeholder {
  font-family: "iranSanc-r" !important;

}