



  <main class="container mx-auto w-full px-20 h-full">
    <div class="flex flex-col gap-2 mt-12 ">
      <app-searchbar (changeSearchBar)="onChangeSearchbar($event)" (changeSearchOption)="onChangeSearchOption($event)" class="self-start  max-lg:w-full"></app-searchbar>

      
      <div class="table-action-buttons self-end">

        
        
        <button (click)="reloadTable()"  class="relative  max-w-xs self-end inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group  bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4  focus:ring-green-200  hover:text-white dark:text-white  focus:outline-none  dark:focus:ring-blue-800">
          <span class="flex items-center justify-center gap-4 font-iranSansDemiBold  relative w-full px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
            <mat-icon>
              sync
            </mat-icon>
          تازه سازی
          </span>
          </button>
        <a routerLink="/users/createNewUser" class="relative  max-w-xs self-end inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
          <span class="flex items-center justify-center gap-4 font-iranSansDemiBold  relative w-full px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
            <mat-icon>
              person_add
            </mat-icon>
          ایجاد کاربر جدید
          </span>
          </a>
        
      </div>
   
  <app-table [users]="users" [loading]="loading"></app-table>
      
  
      <div class="pagination-container flex items justify-center mb-8">
        <app-pagination  [totalUsersCount] = "totalUsersCount"></app-pagination>
      </div>
    </div>
  </main>
  
  
  
