<div class="relative overflow-x-auto min-h-[510px]">
  <table
    class="w-full text-sm text-gray-500 dark:text-gray-400 rounded-3xl overflow-hidden text-center border-separate shadow-2xl"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-500 dark:bg-gray-700 dark:text-gray-400 *:text-white *:dark:text-white whitespace-nowrap"
    >
      <tr class="**:justify-center">
        <th (click)="onResetSort()" scope="col" class="px-6 py-3"><mat-icon><span class="material-symbols-outlined">
          filter_alt
          </span></mat-icon></th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('firstName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>نام</span>
          </button>
        </th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('lastName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>نام خانوادگی</span>
          </button>
        </th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('userName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>نام کاربری</span>
          </button>
        </th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('organizationName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>نام سازمانی</span>
          </button>
        </th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('organizationName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>احراز هویت شده</span>
          </button>
        </th>
        <th scope="col" class="px-6 py-3 hover:bg-gray-800">
          <button
            class="flex items-center gap-2 cursor-pointer w-full"
            (click)="sortList('organizationName')"
          >
            <mat-icon class="material-symbols-outlined">
              keyboard_arrow_down
            </mat-icon>
            <span>تاریخ انقضا</span>
          </button>
        </th>

        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      @if(loading) { @for (item of [1,2,3,4,5]; track $index) {

      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-b-gray-100 border-gray-200 dark:hover:bg-gray-900 hover:bg-gray-300 *:whitespace-nowrap"
      >
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
        <td class="px-6 py-4 h-[74px]">
          <div class="flex justify-center items-center h-full w-full">
            <div
              role="status"
              class="animate-pulse w-18 h-4 bg-gray-200 rounded-full"
            ></div>
          </div>
        </td>
      </tr>

      } }@else { @if(users.length === 0 && !loading) {
      <tr
        *ngIf="users.length === 0"
        class="bg-white dark:bg-gray-800 text-gray-400"
      >
        <td colspan="8" class="text-center py-6 text-gray-400 dark:text-white">
          کاربری یافت نشد
        </td>
      </tr>
      } @for (user of users; track $index) {

      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-violet-700 border-gray-200 dark:hover:bg-gray-900 hover:bg-gray-300 *:whitespace-nowrap"
      >
        <td scope="row">
          <a
            routerLink="['/users/userDetails' , user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
          >
            {{ user.id }}
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
          >
            {{ user.firstName }}
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
          >
            {{ user.lastName }}
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
          >
            {{ user.userName }}
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
          >
            {{ user.organizationName }}
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full  px-6 py-4 dark:text-white flex items-center justify-center"
            
          >
            @if(user.isAuthenticated) {
              <div class="bg-emerald-400/50 size-9 rounded-full flex items-center justify-center">
                <mat-icon>check</mat-icon>
              </div>
            }@else {
              <div class="bg-red-600/50 size-9 rounded-full flex items-center justify-center">
                <mat-icon>close</mat-icon>
              </div>
            }
          </a>
        </td>
        <td scope="row">
          <a
            [routerLink]="['/users/userDetails', user.id]"
            class="w-full h-full inline-block px-6 py-4 dark:text-white"
            style="direction: ltr;"
          >
            {{ user.expireDateTime | convertDate  }}
          </a>
        </td>

        <td scope="row" class="px-6 py-4">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon class="menu-icon dark:!text-white">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="divide-y-4 divide-gray-200">
            <a [routerLink]="['/users/editNewUser', user.id]" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span class="menu-text">ویرایش</span>
            </a>

            <button mat-menu-item (click)="openDeleteDialog(user.id)">
              <mat-icon>delete</mat-icon>
              <span class="menu-text">حذف</span>
            </button>
          </mat-menu>
        </td>
      </tr>

      } }
    </tbody>
  </table>
</div>
