<form #searchbarForm [formGroup]="searchbarFormGroup" class="grid grid-cols-1 md:grid-cols-2   gap-x-14 gap-y-4 mb-5 w-full ">

  <div class="flex items-center    max-lg:w-full">
    <div class="max-w-lg mx-auto   w-full ">
      <div class="flex relative max-sm:flex-col">

 
        <div class="relative w-full grow ">
          <label for="" class="flex  rounded-e-lg gap-2 flex-col items-start max-md:items-center">

            <span class="shrink-0 dark:text-white font-yekanBold w-[100px]">نام :</span>
            <input
            type="search"
            id="search-dropdown"
            formControlName ="firstName"
            class="block p-2.5 w-full max-w-[300px]  z-20 text-sm shadow-2xl text-gray-900 bg-gray-50 rounded-e-lg   border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:text-white dark:focus:border-blue-500 !dark:text-gray-200 dark:placeholder:!text-gray-200"
            placeholder="متن جستجو را وارد کنید"
            required
            #firstNameSearchInput
          />
          </label>
   
        </div>


        @if(isLoading["firstName"]) {
  
          <svg class="size-12 absolute -left-[50px]" viewBox="0 0 44 44">
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
            </circle>
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
            </circle>
          </svg>
        
          }
        
      </div>
   
    </div>
  

  </div>
  <div class="flex items-center   max-lg:w-full">
    <div class="max-w-lg mx-auto  shrink-0 w-full">
      <div class="flex relative max-sm:flex-col">


        <div class="relative w-full grow ">
          <label for="" class="flex  rounded-e-lg gap-2 flex-col items-start max-md:items-center">

            <span class="shrink-0 dark:text-white font-yekanBold w-[100px]">نام خانوادگی :</span>
            <input
            type="search"
            id="search-dropdown"
            formControlName ="lastName"
            class="block p-2.5 w-full max-w-[300px] z-20 shadow-2xl text-sm text-gray-900 bg-gray-50 rounded-e-lg   border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:text-white dark:focus:border-blue-500 !dark:text-gray-200 dark:placeholder:!text-gray-200"
            placeholder="متن جستجو را وارد کنید"
            required
            #lastNameSearchInput
          />
          </label>

        </div>
   


        @if(isLoading["lastName"]) {
  
          <svg class="size-12 absolute -left-[50px]" viewBox="0 0 44 44">
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
            </circle>
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
            </circle>
          </svg>
        
          }
        
        
      </div>
    </div>
  

  </div>
  <div class="flex items-center  relative max-lg:w-full">
    <div class="max-w-lg mx-auto  shrink-0 w-full">
      <div class="flex relative max-sm:flex-col">

        <div class="relative w-full grow ">
          <label for="" class="flex  rounded-e-lg gap-2 flex-col items-start max-md:items-center">

            <span class="shrink-0 dark:text-white font-yekanBold w-[100px]">نام کاربری :</span>
            <input
            type="search"
            id="search-dropdown"
            formControlName ="userName"
            class="block p-2.5 w-full max-w-[300px] z-20 text-sm shadow-2xl text-gray-900 bg-gray-50 rounded-e-lg   border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:text-white dark:focus:border-blue-500 !dark:text-gray-200 dark:placeholder:!text-gray-200"
            placeholder="متن جستجو را وارد کنید"
            required
            #userNameSearchInput
          />
          </label>
   
        </div>
        
       


        @if(isLoading["userName"]) {
  
          <svg class="size-12 absolute -left-[50px]" viewBox="0 0 44 44">
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
            </circle>
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
            </circle>
          </svg>
        
          }
        
      </div>
    </div>
  

  </div>
  <div class="flex items-center  relative max-lg:w-full">
    <div class="max-w-lg mx-auto  shrink-0 w-full">
      <div class="flex relative max-sm:flex-col">
  


        <div class="relative w-full grow ">
          <label for="" class="flex  rounded-e-lg gap-2 flex-col items-start max-md:items-center">

            <span class="shrink-0 dark:text-white font-yekanBold w-[100px]">نام سازمان :</span>
            <input
            type="search"
            id="search-dropdown"
            formControlName ="organizationName"
            class="block p-2.5 w-full max-w-[300px] z-20 text-sm shadow-2xl text-gray-900 bg-gray-50 rounded-e-lg   border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:text-white dark:focus:border-blue-500 !dark:text-gray-200 dark:placeholder:!text-gray-200"
            placeholder="متن جستجو را وارد کنید"
            required
            #organizationNameSearchInput
          />
          </label>
   
        </div>
   
      
        @if(isLoading["organizationName"]) {
  
          <svg class="size-12 absolute -left-[50px]" viewBox="0 0 44 44">
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0s"
                repeatCount="indefinite"
              ></animate>
            </circle>
            <circle cx="22" cy="22" r="6" fill="none" stroke="#60A5FA" stroke-width="2">
              <animate
                attributeName="r"
                from="6"
                to="20"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
              <animate
                attributeName="opacity"
                from="1"
                to="0"
                dur="1.5s"
                begin="0.5s"
                repeatCount="indefinite"
              ></animate>
            </circle>
          </svg>
        
          }
        
      </div>
    </div>
  

  </div>


 
  
  
  
</form>


