<div class="!divide-y-2 !divide-gray-300">

    <h2 mat-dialog-title class="!flex !items-center !gap-3 !text-iranSansDemiBold !text-red-600"> <mat-icon><span class="material-symbols-outlined ">
        exit_to_app
        </span></mat-icon> خروج از حساب کاربری </h2>
    <mat-dialog-content class="!text-iranSansDemiBold !py-4">
      ایا از خروج اطمینان دارید ؟
    </mat-dialog-content>
    <mat-dialog-actions >
      <button mat-button mat-dialog-close>خیر</button>
      <button mat-button mat-dialog-close cdkFocusInitial (click)="onConfirm()">بله</button>
    </mat-dialog-actions>
    
</div>