<section class="h-screen bg-gray-50 dark:bg-gray-900
bg-gradient-to-r from-purple-500 to-cyan-600
dark:bg-gradient-to-br dark:from-rose-900 dark:to-slate-900">
  <div
    class="flex flex-col items-center justify-center px-2 py-4 mx-auto md:h-screen lg:py-0 h-full "
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
      <div class="!p-4 space-y-4 md:space-y-6 sm:p-8  rounded-2xl dark:border-none rounded-lg">
        <h1
          class="text-xl font-iranSansDemiBold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-6"
        >
          ورود به حساب کاربری
        </h1>
              
                <div>





          <form  [formGroup]="loginFormGroup" (ngSubmit)="submitLoginForm()" class="grid ">


            <mat-form-field class="w-full mb-2">
              <mat-label>نام کاربری</mat-label>
              <input matInput type="text" placeholder="نام کاربری را وارد کنید"  formControlName="userName"/>

              
              @if(loginFormGroup.get("userName")?.touched && loginFormGroup.get("password")?.errors) {
                <mat-error>
                  @if(loginFormGroup.get("userName")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }
                  
                  
                </mat-error>
                
       
              }
              
            </mat-form-field>

            
        <mat-form-field class="w-full">
              <mat-label>رمز عبور</mat-label>
              <input matInput type="password" placeholder="رمز عبور را وارد کنید"  formControlName="password"/>

              @if(loginFormGroup.get("password")?.touched && loginFormGroup.get("password")?.errors) {
                <mat-error>
                  @if(loginFormGroup.get("password")?.errors?.["required"]) {
                    <span>مقداری وارد نشده</span>
                  }
                  
                </mat-error>
              }
              
              
            </mat-form-field>

            <button
            type="submit"
            
            [ngClass]="{'invalid-btn' : !loginFormGroup.valid }"
            [disabled]="!loginFormGroup.valid"
            class="relative inline-flex items-center justify-center p-0.5 mt-6  overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
          >
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent w-full dark:text-white text-black text-iranSansDemiBold">

            ورود
          </span>
          </button>
                        
          </form>

          


        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div class="flex items-center h-5">
              <input
              #rememberInput
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                required=""
              />
            </div>
            
            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500 dark:text-gray-300"
                >مرا به خاطر بسپار</label
              >
            </div>
          </div>
        </div>

        

      
        <p class="font-light text-gray-500 dark:text-gray-400 text-lg">
          هنوز حساب کاربری ندارید ؟
          <a
            routerLink="/account/signup"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >ثبت نام</a
          >
        </p>

        <!-- <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <mat-hint>Errors appear instantly!</mat-hint>
              @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </form> -->
      </div>
    </div>
  </div>
</section>
