html.dark .custom-icon {
  fill: white !important;
  color: wheat !important;
}
::ng-deep .mat-drawer-content {
}
::ng-deep .dark .mat-drawer-content {
}

.dark .close-sidebar-btn {
    color: white !important;
}