
<div class="container mx-auto mt-20">
  <div
    class="bg-gray-300 dark:bg-gray-700 overflow-hidden shadow rounded-lg border mx-auto max-w-4xl"
  >
    <div class="px-4 py-5 sm:px-6 bg-gray-400">
      <h3
        class="text-xl  leading-6 font-medium text-gray-900 dark:text-gray-200 "
      >
        مشخصات کاربر
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-700 dark:text-gray-100 mt-4">
        در اینجا تمام اطلاعات کاربر وجود دارد
      </p>
    </div>
    <div class="border-t-3 border-gray-500 px-20 sm:px-4 py-5">
      <dl class="sm:divide-y sm:divide-gray-500">
        <div class="py-3 sm:py-5 grid sm:grid-cols-2 gap-4 sm:px-6">
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              ID
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.id}}
            </dd>
          </div>
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              کد ملی
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.nationalCode}}
            </dd>
          </div>
        </div>

        <div class="py-3 sm:py-5 grid sm:grid-cols-2 gap-4 sm:px-6">
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              نام
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.firstName}}
            </dd>
          </div>

          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              نام خانوادگی
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
          {{mainUser?.lastName}}
            </dd>
          </div>
        </div>

        <div class="py-3 sm:py-5 grid sm:grid-cols-2 gap-4 sm:px-6">
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              اتباع خارجی
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.isForeigner ? "بله" : "خیر" }}
            </dd>
          </div>
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              نام کاربری
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.userName}}
            </dd>
          </div>
        </div>
        <div class="py-3 sm:py-5 grid sm:grid-cols-2 gap-4 sm:px-6">
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
            شماره تماس
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.phoneNumber}}
            </dd>
          </div>
          <div class="flex items-center max-sm:justify-between gap-8">
            <dt
              class="text-sm font-medium text-gray-500 dark:text-gray-100 font-iranSansDemiBold text-xl"
            >
              شناسه سازمانی
            </dt>
            <dd
              class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-gray-400"
            >
              {{mainUser?.organizationId}}
            </dd>
          </div>
        </div>
      </dl>
     
    </div>
    <div class="px-4 py-5 sm:px-6 border-t-3 border-t-gray-500 bg-gray-400 dark:bg-gray-400  flex items-center justify-center">
      <app-back-button class="w-sm min-w-fit shrink-0"></app-back-button>
    </div>
  </div>
</div>
