@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "iranSanc-r";
  src: url("../public/fonts/IRANSansXFaNum-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "iranSanc-db";
  src: url("../public/fonts/IRANSansXFaNum-DemiBold.woff2");
  font-style: normal;
  font-weight: 600;
}

@theme {
  --color-main-blue: #0052cc;
  --color-light-blue: #ddebff;
  --color-main-black: #313131;
  --color-dashboard-bg: #f6f6f6;
  --color-main-white: #fefefe;
  --color-main-dark: #463f3a;

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --font-iranSansRegular: "iranSanc-r";
  --font-iranSansDemiBold: "iranSanc-db";

  --breakpoint-xs: 480px;
}

body {
  margin: 0;
  height: 100%;
  font-family: "iranSanc-r", Roboto, "Helvetica Neue", sans-serif;
}

.activedLink {
  @apply bg-main-blue text-main-white rounded-lg;
}

.activedButton {
  @apply *:text-main-blue inline-flex items-center gap-1 font-iranSansDemiBold bg-main-white *:text-sm;
}

.activePage {
  @apply flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
}


.mat-mdc-snack-bar-label {
  font-family: "iranSanc-r";
}

:root {
  @include mat.slide-toggle-overrides((
    track-outline-color: orange,
    disabled-unselected-track-outline-color: red,
  ));
}



 .mdc-tab__text-label{
  font-family: "iranSanc-r";
color: blue !important;
}

.dark .mdc-tab__text-label{
  color: red !important;
}


